.card-img-top {
    width: 100%;
    height: 30vw;
    object-fit:contain;
}
#card-product , #card-footer-product {
    border-color: rgba(251,186,22,0.5);
}

#card-footer-product {
    background-color: rgba(251,186,22,0.02);
}
#text-category , #text-final-price {
    color : rgba(0,156,87,255)
}
