<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>Python Flask Employee Create, read, update and delete (CRUD) using pymysql</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

  </head>
  <body>

    <!-- NAVIGATION  -->
<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src= "{{ url_for('static', filename='mercadona-logo.svg') }}" alt="Logo" class="d-inline-block align-text-center">
      Espace Administration (CRUD) pour WebApp Mercadona.es
    </a>
  </div>
</nav>

    <div class="container pt-4">
      {% block body %}
      {% endblock %}
    </div>

<script>
<!--const btnDelete= document.querySelectorAll('.btn-delete');-->
if(btnDelete) {
  const btnArray = Array.from(btnDelete);
  btnArray.forEach((btn) => {
    btn.addEventListener('click', (e) => {
      if(!confirm('Etes-vous sur de vouloir supprimer ce produit')){
        e.preventDefault();
      }
    });
  })
}

</script>
  </body>
</html>