{% extends 'base.html' %}

{% block body %}
<h1 class="text-center">Produits du moment !!!</h1>


<div class="row row-cols-1 row-cols-md-2 g-4 mt-4">
  {% for product in products %}
  <div class="col">

    <div id = "card-product" class="card h-100">
      <img class="card-img-top mt-4" src="data:;base64,{{image_list[loop.index0]}}" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">{{ product.name_product }}</h5>

        <p class="card-text text-center">{{ product.description }}</p>

      </div>
      <div id = "card-footer-product" class="card-footer text-end">
        <div class="row">
          <div class="col">
            <p id = "text-category" class="card-text text-start fw-bold">{{ product.category }}</p>
          </div>
          <div class="col">{% if product.promo != None %}

            {% if product.date_promo != None %}
            <p class="list-group-item text-danger"><i>Offre valable jusqu'au {{ product.date_promo.strftime('%d/%m/%Y')
                }}</i></p>
            <p><s>{{ product.price }} €</s></p>
            <p id ="text-final-price" class="fw-bold">{{ final_price }} €</p>

            {% else %}
            <p><s>{{ product.price }} €</s></p>
            <p id ="text-final-price" class="fw-bold">{{ final_price }} €</p>

            {% endif %}

            {% else %}
            <p class="fw-bold m-0">{{ product.price }} €</p>

            {% endif %}
          </div>

        </div>
      </div>

    </div>
  </div>
  {% endfor %}
</div>





{% endblock %}